@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  /* font-family: "Nunito", sans-serif; */
  font-family: "Quicksand" !important;
}

html,
body {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  /* background-color: #f0f1f3; */
  background-color: hsl(177, 41%, 98%);
  height: 100%;
}
