/* @import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
* {
  box-sizing: border-box;
  margin: 0;
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Raleway", "Quicksand" !important; */
  font-family: "Work Sans", sans-serif !important;
  /* font-weight: 700; */
}

html,
body {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.white-mode {
  background-color: hsl(177, 41%, 98%);
}

.dark-mode {
  background-color: rgb(21 21 24);
}
